{% extends "network/hosts.html" %}
{% from "_helpers.html" import render_field %}

{% block title %}Register Host - CSEntry{% endblock %}

{% block hosts_main %}
  <form id="hostForm" method="POST">
    {{ form.hidden_tag() }}
    {{ render_field(form.name, class_="text-lowercase") }}
    {{ render_field(form.type) }}
    {{ render_field(form.description) }}
    {{ render_field(form.item_id, disabled=True) }}
    {{ render_field(form.network_id) }}
    {{ render_field(form.ip) }}
    {{ render_field(form.interface_name, class_="text-lowercase") }}
    {{ render_field(form.mac_address) }}
    {{ render_field(form.cnames_string) }}
    {{ render_field(form.tags) }}
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
{%- endblock %}
