{% extends "network/networks.html" %}
{% from "_helpers.html" import render_field %}

{% block title %}Register Network - CSEntry{% endblock %}

{% block networks_main %}
  <form id="networkForm" method="POST">
    {{ form.hidden_tag() }}
    {{ render_field(form.scope_id) }}
    {{ render_field(form.vlan_name) }}
    {{ render_field(form.vlan_id) }}
    {{ render_field(form.description) }}
    {{ render_field(form.prefix) }}
    {{ render_field(form.address) }}
    {{ render_field(form.first_ip) }}
    {{ render_field(form.last_ip) }}
    {{ render_field(form.admin_only) }}
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
{%- endblock %}
