{% extends "network/scopes.html" %}
{% from "_helpers.html" import render_field %}

{% block title %}Register Network Scope - CSEntry{% endblock %}

{% block scopes_main %}
  <form id="scopeForm" method="POST">
    {{ form.hidden_tag() }}
    {{ render_field(form.name) }}
    {{ render_field(form.description) }}
    {{ render_field(form.first_vlan) }}
    {{ render_field(form.last_vlan) }}
    {{ render_field(form.supernet) }}
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
{%- endblock %}
