{% extends "network/hosts.html" %}
{% from "_helpers.html" import render_field %}

{% block title %}Edit Host - CSEntry{% endblock %}

{% block hosts_nav %}
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('network.view_host', name=form.name.data) }}">View host</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{{ url_for('network.edit_host', name=form.name.data) }}">Edit host</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('network.create_interface', hostname=form.name.data) }}">Add interface</a>
    </li>
{% endblock %}

{% block hosts_main %}
  <form id="editHostForm" method="POST">
    {{ form.hidden_tag() }}
    {{ render_field(form.name, class_="text-lowercase") }}
    {{ render_field(form.type) }}
    {{ render_field(form.description) }}
    {{ render_field(form.item_id, disabled=True) }}
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
{%- endblock %}
