{% extends "network/hosts.html" %}
{% from "_helpers.html" import render_field %}

{% block title %}Edit Interface - CSEntry{% endblock %}

{% block hosts_nav %}
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('network.view_host', name=hostname) }}">View host</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('network.edit_host', name=hostname) }}">Edit host</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('network.create_interface', hostname=hostname) }}">Add interface</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{{ url_for('network.edit_interface', name=hostname) }}">Edit interface</a>
    </li>
{% endblock %}


{% block hosts_main %}
  <form id="editInterfaceForm" method="POST">
    {{ form.hidden_tag() }}
    {{ render_field(form.host_id, disabled=True) }}
    {{ render_field(form.interface_name, class_="text-lowercase") }}
    {{ render_field(form.network_id) }}
    {{ render_field(form.ip) }}
    {{ render_field(form.mac_address) }}
    {{ render_field(form.cnames_string) }}
    {{ render_field(form.tags) }}
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
{%- endblock %}
