{% extends "base-fluid.html" %}
{% from "_helpers.html" import is_active %}

{% block title %}Hosts - CSEntry{% endblock %}

{% block main %}
  {% set path = request.path %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {{ is_active(path.endswith("/network/hosts")) }}" href="{{ url_for('network.list_hosts') }}">List hosts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ is_active(path.startswith("/network/hosts/create")) }}" href="{{ url_for('network.create_host') }}">Register new host</a>
    </li>
    {% block hosts_nav %}{% endblock %}
  </ul>

  <br>

  {% block hosts_main %}
  <table id="hosts_table" class="table table-bordered table-hover table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Hostname</th>
        <th>Type</th>
        <th>Description</th>
        <th>Interface name</th>
        <th>Interface IP</th>
        <th>Interface network</th>
      </tr>
    </thead>
  </table>
  {%- endblock %}
{%- endblock %}

{% block csentry_scripts %}
  <script src="{{ url_for('static', filename='js/hosts.js') }}"></script>
{% endblock %}
