{% extends "base-fluid.html" %}
{% from "_helpers.html" import is_active %}

{% block title %}Networks - CSEntry{% endblock %}

{% block main %}
  {% set path = request.path %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {{ is_active(path.endswith("/network/networks")) }}" href="{{ url_for('network.list_networks') }}">List networks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ is_active(path.startswith("/network/networks/create")) }}" href="{{ url_for('network.create_network') }}">Register new network</a>
    </li>
    {% block networks_nav %}{% endblock %}
  </ul>

  <br>

  {% block networks_main %}
  <table id="networks_table" class="table table-bordered table-hover table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Network scope</th>
        <th>Vlan name</th>
        <th>Vlan id</th>
        <th>Description</th>
        <th>Address</th>
        <th>First IP</th>
        <th>Last IP</th>
        <th>Admin only</th>
      </tr>
    </thead>
  </table>
  {%- endblock %}
{%- endblock %}

{% block csentry_scripts %}
  <script src="{{ url_for('static', filename='js/networks.js') }}"></script>
{% endblock %}
