{% extends "base-fluid.html" %}
{% from "_helpers.html" import is_active %}

{% block title %}Network Scopes - CSEntry{% endblock %}

{% block main %}
  {% set path = request.path %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {{ is_active(path.endswith("/network/scopes")) }}" href="{{ url_for('network.list_scopes') }}">List network scopes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ is_active(path.startswith("/network/scopes/create")) }}" href="{{ url_for('network.create_scope') }}">Register new network scope</a>
    </li>
    {% block scopes_nav %}{% endblock %}
  </ul>

  <br>

  {% block scopes_main %}
  <table id="scopes_table" class="table table-bordered table-hover table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>First vlan</th>
        <th>Last vlan</th>
        <th>Supernet</th>
      </tr>
    </thead>
  </table>
  {%- endblock %}
{%- endblock %}

{% block csentry_scripts %}
  <script src="{{ url_for('static', filename='js/scopes.js') }}"></script>
{% endblock %}
