{% extends "network/hosts.html" %}
{% from "_helpers.html" import link_to_item, delete_button_with_confirmation %}

{% block title %}View Host - CSEntry{% endblock %}

{% block hosts_nav %}
    <li class="nav-item">
      <a class="nav-link active" href="{{ url_for('network.view_host', name=host.name) }}">View host</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('network.edit_host', name=host.name) }}">Edit host</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('network.create_interface', hostname=host.name) }}">Add interface</a>
    </li>
{% endblock %}

{% block hosts_main %}
  <dl class="row">
    <dt class="col-sm-3">Hostname</dt>
    <dd class="col-sm-9">{{ host.name }}</dd>
    <dt class="col-sm-3">Type</dt>
    <dd class="col-sm-9">{{ host.type }}</dd>
    {% if host.type == 'Physical' %}
    <dt class="col-sm-3">Item</dt>
    <dd class="col-sm-9">{{ link_to_item(host.item) }}</dd>
    {% endif %}
    <dt class="col-sm-3">Description</dt>
    <dd class="col-sm-9">{{ host.description }}</dd>
  </dl>
  <h3>Interfaces</h3>
  <table id="interfaces_table" class="table table-hover table-sm">
    <thead>
      <tr>
        <th width="5%"></th>
        <th>Name</th>
        <th>Cnames</th>
        <th>IP</th>
        <th>MAC</th>
        <th>Network</th>
        <th>Tags</th>
      </tr>
    </thead>
    <tbody>
      {% for interface in host.interfaces %}
      <tr>
        <td class="btn-group mr-2" role="group" aria-label="edit delete interface">
          <a class="btn btn-light" role="button" href="{{ url_for('network.edit_interface', name=interface.name) }}" title="Edit interface">
              <span class="oi oi-pencil" aria-hidden="true"></span>
          </a>
          <form method="POST" action="/network/interfaces/delete">
            <input id="interface_id" name="interface_id" type="hidden" value="{{ interface.id }}">
            {{ delete_button_with_confirmation("Delete interface", "deleteConfirmation-%s" | format(interface.id),
               "Are you sure you want to delete interface %s?" | format(interface.name)) }}
          </form>
        </td>
        <td>{{ interface.name }}</td>
        <td>{{ interface.cnames | join(' ') }}</td>
        <td>{{ interface.ip }}</td>
        <td>{{ interface.mac }}</td>
        <td>{{ interface.network }}</td>
        <td>{{ interface.tags | join(' ') }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{%- endblock %}
