{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block title %}Login - CSEntry{% endblock %}

{% block main %}
  <div class="col-sm-offset-2 col-sm-4">
    <h2>Login</h2>
    <form action="" method="POST" role="form">
      {% if form.errors %}
        {% set class_ = "form-control is-invalid" %}
      {% else %}
        {% set class_ = "form-control" %}
      {% endif %}
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.username.label() }}
        {{ form.username(class=class_, required=True, placeholder="ESS username") }}
        <div class="invalid-feedback">Invalid Username/Password.</div>
      </div>
      <div class="form-group">
        {{ form.password.label() }}
        {{ form.password(class=class_, required=True) }}
        <div class="invalid-feedback">Invalid Username/Password.</div>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          {{ form.remember_me(class="form-check-input") }}
          Remember Me
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}
