{% extends "base.html" %}
{% from "_helpers.html" import render_field, delete_button_with_confirmation %}

{% block title %}Profile - CSEntry{% endblock %}

{% block main %}
  {% if generated_token %}
  <div class="row">
      <div class="input-group">
        <span class="input-group-btn">
          <button id="copyToken" type="button" class="btn btn-secondary" data-clipboard-target="#generatedToken"
            data-toggle="tooltip" data-placement="bottom" title="Copied!">
            <span class="oi oi-clipboard" title="Copy to clipboard" aria-hidden="true"></span>
          </button>
        </span>
        <input type="text" class="form-control" id="generatedToken" value="{{ generated_token }}" readonly>
      </div>
  </div>
  <br>
  {% endif %}

  <h2>{{ user.username }}</h2>
  <dl>
    <dt>Name</dt>
    <dd>{{user.display_name}}</dd>
    <dt>Email</dt>
    <dd>{{user.email}}</dd>
    <dt>CSEntry Groups</dt>
    <dd>{{ user.csentry_groups | join(', ') }}</dd>
  </dl>

  <h3>Personal access tokens</h3>
  <p>Access tokens can be used to access the API</p>
  {% if user.tokens %}
  <table id="tokens_table" class="table table-hover table-sm">
    <thead>
      <tr>
        <th></th>
        <th>JWT id</th>
        <th>Description</th>
        <th>Token type</th>
        <th>Issued at</th>
        <th>Expires</th>
      </tr>
    </thead>
    <tbody>
      {% for token in user.tokens %}
      <tr>
        <td>
          <form method="POST" action="/user/tokens/revoke">
            <input id="token_id" name="token_id" type="hidden" value="{{ token.id }}">
            <input id="jti" name="jti" type="hidden" value="{{ token.jti }}">
            {{ delete_button_with_confirmation("Revoke token", "revokeConfirmation-%s" | format(token.id),
               "Are you sure you want to revoke token %s?" | format(token.jti))  }}
          </form>
        </td>
        <td>{{ token.jti }}</td>
        <td>{{ token.description }}</td>
        <td>{{ token.token_type }}</td>
        <td>{{ token.issued_at }}</td>
        <td>{{ token.expires or 'Never' }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  <h4>Generate new access token</h4>
  <form id="tokenForm" method="POST">
    {{ form.hidden_tag() }}
    {{ render_field(form.description) }}
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Generate token</button>
      </div>
    </div>
  </form>
{% endblock %}

{% block csentry_scripts %}
  <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}
