{% extends "admin/master.html" %}

{% block title %}Admin - CSEntry{% endblock %}

{% block body %}
<h2>Use the admin interface with care</h2>

<!-- flask-admin uses bootstrap 3 -->
<a class="btn btn-primary" href="{{ url_for('main.index') }}">CSEntry</a>
{% endblock %}
