{% extends "base-fluid.html" %}
{% from "_helpers.html" import render_field %}

{% block title %}Attributes - CSEntry{% endblock %}

{% block main %}
  <ul class="nav nav-tabs">
    {% for attribute in ('Manufacturer', 'Model', 'Location') %}
    <li class="nav-item">
      <a class="nav-link {% if attribute == kind %}active{% endif %}" href="{{ url_for('inventory.attributes', kind=attribute) }}">{{ attribute }}</a>
    </li>
    {% endfor %}
  </ul>

  <br>

  <form id="attributeForm" method="POST">
    {{ form.hidden_tag() }}
    {{ render_field(form.name) }}
    {{ render_field(form.description) }}
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </div>
  </form>

  <hr class="separator">

  <table id="attributes_table" class="table table-bordered table-hover table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
  </table>
{%- endblock %}

{% block csentry_scripts %}
  <script src="{{ url_for('static', filename='js/attributes.js') }}"></script>
{% endblock %}
