{% extends "inventory/view_item.html" %}

  {% block comment_item %}
  <form id="CommentForm" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.body.label() }}
      {{ form.body(class_="form-control", rows=5, required=True) }}
      <small class="form-text text-muted">Styling with Markdown is supported using
        <a href="https://github.com/showdownjs/showdown/wiki/Showdown's-Markdown-syntax" target="_blank">Showdown</a>.
        A preview is visible below.
      </small>
    </div>
    <div class="card">
      <div class="card-header">
        Comment preview
      </div>
      <div class="card-body" id="commentLivePreview"></div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-danger" href="{{ url_for('inventory.view_item', ics_id=item.ics_id) }}">Cancel</a>
  </form>
  {% endblock %}
