{% extends "inventory/items.html" %}
{% from "_helpers.html" import render_field %}

{% block title %}Register Item - CSEntry{% endblock %}

{% block items_main %}
  <form id="itemForm" method="POST">
    {{ form.hidden_tag() }}
    {{ render_field(form.ics_id) }}
    {{ render_field(form.serial_number) }}
    {{ render_field(form.quantity) }}
    {{ render_field(form.manufacturer_id) }}
    {{ render_field(form.model_id) }}
    {{ render_field(form.location_id) }}
    {{ render_field(form.status_id) }}
    {{ render_field(form.parent_id) }}
    {{ render_field(form.mac_addresses) }}
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-primary" id="clear">Clear</button>
      </div>
    </div>
  </form>
{%- endblock %}
