{% extends "inventory/items.html" %}
{% from "_helpers.html" import render_field %}

{% block title %}Edit Item - CSEntry{% endblock %}

{% block items_nav %}
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('inventory.view_item', ics_id=form.ics_id.data) }}">View item</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{{ url_for('inventory.edit_item', ics_id=form.ics_id.data) }}">Edit item</a>
    </li>
{% endblock %}


{% block items_main %}
  <form id="itemForm" method="POST">
    {{ form.hidden_tag() }}
    {% if form.ics_id.data.startswith(config['TEMPORARY_ICS_ID'])  or form.ics_id.errors %}
      {{ render_field(form.ics_id) }}
    {% else %}
      {{ render_field(form.ics_id, readonly=True) }}
    {% endif %}
    {{ render_field(form.serial_number) }}
    {{ render_field(form.quantity) }}
    {{ render_field(form.manufacturer_id) }}
    {{ render_field(form.model_id) }}
    {{ render_field(form.location_id) }}
    {{ render_field(form.status_id) }}
    {{ render_field(form.parent_id) }}
    {{ render_field(form.mac_addresses) }}
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
  </form>
{%- endblock %}
