{% extends "base-fluid.html" %}
{% from "_helpers.html" import is_active %}

{% block title %}Items - CSEntry{% endblock %}

{% block main %}
  {% set path = request.path %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {{ is_active(path.endswith("/inventory/items")) }}" href="{{ url_for('inventory.list_items') }}">List items</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{ is_active(path.startswith("/inventory/items/create")) }}" href="{{ url_for('inventory.create_item') }}">Register new item</a>
    </li>
    {% block items_nav %}{% endblock %}
  </ul>

  <br>

  {% block items_main %}
  <table id="items_table" class="table table-bordered table-hover table-sm" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Id</th>
        <th>ICS id</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Serial number</th>
        <th>Quantity</th>
        <th>Manufacturer</th>
        <th>Model</th>
        <th>Location</th>
        <th>Status</th>
        <th>Parent</th>
      </tr>
    </thead>
  </table>
  {%- endblock %}
{%- endblock %}

{% block csentry_scripts %}
  <script src="{{ url_for('static', filename='js/items.js') }}"></script>
{% endblock %}
