{% extends "base-fluid.html" %}

{% block title %}QR Codes - CSEntry{% endblock %}

{% block main %}
  <ul class="nav nav-tabs">
    {% for item in ('Action', 'Manufacturer', 'Model', 'Location', 'Status') %}
    <li class="nav-item">
      <a class="nav-link {% if kind == item %}active{% endif %}" href="{{ url_for('inventory.qrcodes', kind=item) }}">{{ item }}</a>
    </li>
    {% endfor %}
  </ul>

  <br>

  <div class="row">
    {% for image in images %}
    <div class="col-md-3">
      <div class="card">
        <img class="card-img-top" src="data:image/png;base64,{{ image.data }}">
        <div class="card-body">
          <h4 class="card-title">{{ image.name }}</h4>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{%- endblock %}
