{% extends "inventory/items.html" %}
{% from "_helpers.html" import link_to_item, link_to_items, format_datetime, link_to_host %}

{% block title %}View Item - CSEntry{% endblock %}

{% block items_nav %}
    <li class="nav-item">
      <a class="nav-link active" href="{{ url_for('inventory.view_item', ics_id=item.ics_id) }}">View item</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('inventory.edit_item', ics_id=item.ics_id) }}">Edit item</a>
    </li>
{% endblock %}

{% block items_main %}
  <dl class="row">
    <dt class="col-sm-3">ICS id</dt>
    <dd class="col-sm-9">{{ item.ics_id }}</dd>
    <dt class="col-sm-3">Created</dt>
    <dd class="col-sm-9">{{ format_datetime(item.created_at) }}</dd>
    <dt class="col-sm-3">Created by</dt>
    <dd class="col-sm-9">{{ item.user }}</dd>
    <dt class="col-sm-3">Updated</dt>
    <dd class="col-sm-9">{{ format_datetime(item.updated_at) }}</dd>
    <dt class="col-sm-3">Serial number</dt>
    <dd class="col-sm-9">{{ item.serial_number }}</dd>
    <dt class="col-sm-3">Quantity</dt>
    <dd class="col-sm-9">{{ item.quantity }}</dd>
    <dt class="col-sm-3">Manufacturer</dt>
    <dd class="col-sm-9">{{ item.manufacturer }}</dd>
    <dt class="col-sm-3">Model</dt>
    <dd class="col-sm-9">{{ item.model }}</dd>
    <dt class="col-sm-3">Location</dt>
    <dd class="col-sm-9">{{ item.location }}</dd>
    <dt class="col-sm-3">Status</dt>
    <dd class="col-sm-9">{{ item.status }}</dd>
    {% if item.host %}
    <dt class="col-sm-3">Host</dt>
    <dd class="col-sm-9">{{ link_to_host(item.host) }}</dd>
    {% endif %}
    {% for mac in item.macs %}
      {% set macloop = loop %}
      <dt class="col-sm-3">MAC Address{{ loop.index }}</dt>
      <dd class="col-sm-9">{{ mac.address }}</dd>
      {% for interface in mac.interfaces %}
        <dt class="col-sm-3">Interface{{ macloop.index }}-{{ loop.index }}</dt>
        <dd class="col-sm-9">IP: {{ interface.ip }} / name: {{ interface.name }}</dd>
      {% endfor %}
    {% endfor %}
    <dt class="col-sm-3">Parent</dt>
    <dd class="col-sm-9">{{ link_to_item(item.parent) }}</dd>
    <dt class="col-sm-3">Children</dt>
    <dd class="col-sm-9">{{ link_to_items(item.children) }}</dd>
  </dl>

  <h4>Comments</h4>
  {% for comment in item.comments | sort(attribute='created_at') %}
  <div class="card border-light mb-3">
    <div class="card-header">
      {{ comment.user }} commented on {{ format_datetime(comment.created_at) }}
    </div>
    <div class="card-body item-comment">{{ comment.body }}</div>
  </div>
  {% endfor %}
  {% block comment_item %}
  <a class="btn btn-primary" href="{{ url_for('inventory.comment_item', ics_id=item.ics_id) }}#body">Comment</a>
  {% endblock %}

  <hr>

  <h4>History</h4>
  <table id="item_version_table" class="table table-hover table-sm">
    <thead>
      <tr>
        <th>Updated</th>
        <th>Quantity</th>
        <th>Location</th>
        <th>Status</th>
        <th>Parent</th>
      </tr>
    </thead>
    <tbody>
      {% for version in item.history() %}
      <tr>
        <td>{{ version['updated_at'] }}</td>
        <td>{{ version['quantity'] }}</td>
        <td>{{ version['location'] }}</td>
        <td>{{ version['status'] }}</td>
        <td>{{ link_to_item(version['parent']) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{%- endblock %}
