{% macro is_active(active) -%}
{% if active %}active{% endif %}
{%- endmacro %}

{% macro link_to_host(name) -%}
  <a href="{{ url_for('network.view_host', name=name) }}">{{ name }}</a>
{%- endmacro %}

{% macro link_to_item(ics_id) -%}
  {% if ics_id %}
    <a href="{{ url_for('inventory.view_item', ics_id=ics_id) }}">{{ ics_id }}</a>
  {% else %}
    {{ ics_id }}
  {% endif %}
{%- endmacro %}

{% macro link_to_items(ics_ids) -%}
  {% for ics_id in ics_ids %}
    {{ link_to_item(ics_id) }}
  {% endfor %}
{%- endmacro %}

{% macro render_field(field) -%}
  {% set field_class = kwargs.pop('class_', '') + ' form-control' %}
  {% if field.errors %}
    {% set field_class = field_class + ' is-invalid' %}
  {% endif %}

  <div class="form-group row">
    {{ field.label(class_="col-sm-2 col-form-label") }}
    <div class="col-sm-10">
      {{ field(class_=field_class, **kwargs) }}
      {% if field.description %}
        <small class="form-text text-muted">
          {{ field.description|safe }}
        </small>
      {% endif %}
      {% if field.errors %}
        <div class="invalid-feedback">
          {{ field.errors|join(' / ') }}
        </div>
      {% endif %}
    </div>
  </div>
{%- endmacro %}

{% macro format_datetime(dt) -%}
  {{ dt.strftime("%Y-%m-%d %H:%M") }}
{%- endmacro %}

{% macro delete_button_with_confirmation(title, modal_id, message) -%}
  <button type="button" class="btn btn-light" data-toggle="modal" data-target={{ "#%s" | format(modal_id) }}>
    <span class="oi oi-trash" title="{{ title }}" aria-hidden="true"></span>
  </button>
  <!-- Modal -->
  <div class="modal fade" id="{{ modal_id }}" tabindex="-1" role="dialog" aria-labelledby="delete-confirmation" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">{{ message }}</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">OK</button>
        </div>
      </div>
    </div>
  </div>
{%- endmacro %}
