{% extends "base.html" %}
{% from "_helpers.html" import is_active %}

{# overwrite the base content block to use container-fluid instead of container #}
{% block content %}
<div class="container-fluid">
  <div class="row">

    <div class="col-12 col-md-2 col-xl-2">
      {% set path = request.path %}
      <div class="list-group">
        {% if path.startswith("/inventory") %}
        <a class="list-group-item list-group-item-action {{ is_active(path.startswith("/inventory/items")) }}"
          href="{{ url_for('inventory.list_items') }}">Items</a>
        <a class="list-group-item list-group-item-action {{ is_active(path.startswith("/inventory/attributes")) }}"
          href="{{ url_for('inventory.attributes', kind='Manufacturer') }}">Attributes</a>
        <a class="list-group-item list-group-item-action {{ is_active(path.startswith("/inventory/qrcodes")) }}"
          href="{{ url_for('inventory.qrcodes', kind='Action') }}">QR Codes</a>
        {% elif path.startswith("/network") %}
        <a class="list-group-item list-group-item-action {{ is_active(path.startswith(("/network/hosts", "/network/interfaces"))) }}"
          href="{{ url_for('network.list_hosts') }}">Hosts</a>
        <a class="list-group-item list-group-item-action {{ is_active(path.startswith("/network/networks")) }}"
          href="{{ url_for('network.list_networks') }}">Networks</a>
        <a class="list-group-item list-group-item-action {{ is_active(path.startswith("/network/scopes")) }}"
          href="{{ url_for('network.list_scopes') }}">Network Scopes</a>
        {% endif %}
      </div>
    </div>

    <div class="col-12 col-md-10 col-xl-10">
      {{utils.flashed_messages(messages, container=False, dismissible=True)}}
      {% block main %}{% endblock %}
    </div>

  </div>
</div>
{% endblock %}
