{%- extends "base.html" %}

{% block main %}
  <div class="jumbotron">
    <h1 class="display-4">Welcome to CSEntry!</h1>
    <p class="lead">Control System Entry allows you to easily register items and network devices.</lead>
  </div>
{%- endblock %}
